/*Style Navigation Bar */
.navbar{
    background-color: #F3FBFF;
    padding: 20px;
    text-align: center;
}
/* Style the links inside the navigation bar */
.navbar a {
    color: black;
    
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
    